@*@{
        ViewData["Title"] = "employee";

    }
<h1>employee</h1>


<h1 class="text-bg-danger">Employee Details</h1>

    <h1>@Model.employee.name</h1>
    <script src="~/js/GeneralValidation.js"></script>*@